name: Build Frontend

on:
  pull_request:
    paths:
      - 'frontend/aashub/**'
  push:
    branches: [main]
    paths:
      - 'frontend/aashub/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend/aashub
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'

      - name: Install Dependencies
        run: yarn install

      - name: Build
        run: yarn build